
/* new */

.calculate {
    height: auto;
    min-height: 300px;
    width: 80vw;
    margin: auto;
    background: rgb(179, 177, 173);
    display: block;
    overflow: hidden;
    position: relative;
}

#item {
    height: 5%;
    width: 80%;
    margin: 30px 10% 5px;
}

.tab {
    width: 100%;
    min-height: 400px;
}

.radio {
    margin: 0 10% 5px;
    width: 40%;
}

.radio label,
.option label{
    display: inline-block;
    width: 45%;
    margin: 0;
}
.option label [type="checkbox"] {
    float: right;
    margin-right: 4%;
}
.option label [type="number"] {
    margin-left: 5px;
    width: 10%;
}

.tabName {
    display: block;
    height: 40px;
    width: 25%;
    float: left;
    margin: 0;
    background: rosybrown;
}

.tab2 {
    margin: 0;
    display: none;
    height: auto;
    width: 100%;
    background: rgba(255, 244, 93);
}

.tab2 .option {
    width: 80%;
    margin: 0 10%;
}

[type="radio"]:checked + label {
    background: rgba(255, 244, 93);
}

[name="tab2"] {
    display: none;
}

#name1:checked~#tab1,
#name2:checked~#tab2,
#name3:checked~#tab3,
#name4:checked~#tab4 {
    display: block;
}

.price {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px;
    font-size: 3vh;
}